:root {
    --primary: #769656;
    --secondary: #eeeed2;
    --tertiary: #baca44;
    --white: #ffffff;
    --black: #000000;
    --yellow: #FFFF00;
    --red: #FF0000;
    --purple: #A020F0;
    --gray: #404040
}
